body, html {
    color: #6cf;
    font-family: arial, sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

a, a:hover, a:active {
	color: #667;
}

#credits-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#credits-container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.credits-entry {
	line-height: 1.8em;
	margin: 20px;
}

.credits-links img {
	height: auto;
	margin: 0 4px;
	margin-top: 8px;
	opacity: .5;
	width: 19px;
}

.credits-list,
.credits-role {
	color: #aab;
}

.credits-name {
	font-size: 125%;
}

.credits-thanks {
	margin-top: 25px;
}

#intro-wrapper .intro-letter {
    font-size: 32vh;
    height: 48vh;
    left: 50%;
    margin: -24vh -9vh;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 18vh;
}

#intro-wrapper #intro-l1 {
    left: 25%;
}

#intro-wrapper #intro-l3 {
    left: 75%;
}

#intro-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#intro-wrapper #intro-line {
    display: table-cell;
    font-size: 3.6em;
    #margin-left: -50%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#load-icon {
    height: 32px;
    left: 50%;
    margin: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
    image-rendering: pixelated;
}

#results-page .result {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    float:left;
    #filter: grayscale(1);
    image-rendering: pixelated;
    display: inline-block;
    margin: 10px;
}

#results-page #search-container {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
    text-align: center;
}

#results-page #search-container div {
    display: inline-block;
}

#results-page #search-container #search-title {
    display: inline-block;
    height: 50px;
    font-size: 2.1em;
    margin: 0;
    text-align: center;
	vertical-align: top;
    width: 120px;
}

#results-page #search-string {
    font-size: 1.8em;
	#height: 40px;
    padding: 5px 10px;
    overflow: hidden;
    text-align: left;
	vertical-align: bottom;
    width: 600px;
}

#results-page #search-string-user {
    color: #000;
}

#search-button {
    background-color: #6cf;
	border: 1px solid #6af;
    border-radius: 3pt;
    color: #fff;
    font-size: 24pt;
    padding: 4px 8px;
	vertical-align: top;
    width: 140px;
}

#search-page #search-container {
    height: 250px;
    left: 50%;
    margin: -125px -400px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 800px;
}

#search-page #search-container #search-bar #search-button {
    display: block;
    margin: 25px auto;
}

#search-page #search-container #search-bar #search-box {
    border-radius: 3pt;
    font-size: 25pt;
    padding: 5px 10px;
    width: 760px;
}

#search-page #search-container #search-title {
    font-size: 3.6em;
    line-height: 2;
}

#search-page #search-error {
    color: #f00;
    margin: 10px;
    text-align: right;
}

#search-page #search-hint {
    color: #aab;
    display: block;
    text-align: left;
    margin-left: auto;
    width: 275px;
}

#search-page #search-hint span {
	display:inline-block;
	width: 20px;
}

.dropdown-menu {
  background-color: #eef;
  border: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  #border-top: 1px solid #ddd;
  padding: 2px 5px;
  margin: 0;
}

.dropdown-menu li:first-child {
  border-top: none;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
  background-color: rgb(110, 183, 219);
}

.dropdown-menu a {
    font-family: arial, sans-serif;
  font-size:1.5em;
  height: 18px;
  text-decoration: none;
  color: #555;
  padding:10px;
}

.dropdown-menu a:hover {
  cursor: pointer;
}

.page {
	height: 100%;
	width: 100%;
}